* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth
}

body {
  font-family: 'Cairo', sans-serif;
  background-color: var(--four-color);


}

.container {
  padding-left: 120px;
  padding-right: 120px;
  margin-left: auto;
  margin-right: auto;
}



:root {

  --main-color: #414444;
  --scend--color: #fff;
  --three-color: #5C4500;
  --five-color: hsl(0deg 3% 58% / 28%);
  --border-color: hsl(0, 0%, 94%);
}

a{
  text-decoration: none;
}
@media(max-width:767px){
.container{
    padding-left:10px;
    padding-right:10px;
  
  }}

  /*header*/
/* header */

  header {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}


#menu-bar {
  display: none;
}

header .head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  opacity: 1;
  justify-content: space-evenly;
  background-color: #000000bf;
  color: #F0F0F0 !important;
}
.head1{
  display: flex;
  align-items: center;
  position: relative;
  opacity: 1;
  justify-content: space-evenly;
  background-color: fff;
  color: #4D4D4E !important;
  padding-top: 17px;
  flex-wrap: wrap;

}
.topnar ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}
.topnar ul li {
  margin-left: 16px;
}

.topnar span {
  margin: 0 10px;
}

header .head .navbar {
  position: relative;

}

header .head .navbar::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: #ffffff;
  transform: skewX(16deg);
  transform-origin: 50% 38%;
  will-change: transform;
  pointer-events: none;
  z-index: -1;
}

header .head .navbar span {
  margin: 25px;
  font-size: 14px;

}

.fa-phone {
  margin-left: -12px;
}

.fa-phone,
.fa-location-dot {
  margin-right: 10px;
}

header .head .navbar ul {
  display: flex;
}

header .head .navbar ul li {
  margin: 5px;
  ;

}
.fa-envelope:before {
  content: "\f0e0";
  margin-right: 13px;
  color: #E9B824;
}
.fa-phone:before {
  content: "\f095";
  color: #E9B824;
}

header nav {
  margin-top: 12px;
}

header nav ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
li.activ {
  color: #000 !important;
  font-weight: 600;
}

 ul li{
  list-style: none;
}
 header li a {
  font-size: 10px;
  text-decoration: none;
  color: aliceblue;
}
header nav ul li a {
  padding: 0 10px;
  position: relative;
  color: #7E7E7E;
  font-size: 17px;
}

header nav ul li a::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #e9b824;
  position: absolute;
  bottom: -14px;
  left: 39px;
  transition: all 1S ease;
}

header nav ul li a:hover::after {
  width: 50%;
  cursor: pointer;
}
.fa-chevron-down:before {
  content: "\f078";
  margin-right: 5px;
  font-size: 13px;
}


.fa-bars {
  position: absolute;
  right: 16%;
  top: 8%;
  font-size: 25px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}


header input:checked~.head1 nav {
  display: flex;
  opacity: 1;
  position: absolute;
  transition: .3s;
  padding: 50px 0;
  background: rgb(233 184 36);
  text-align: center;
  z-index: -1;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 99;
}

header input:checked~label i::before {
  content: "\f00d";
}

.fa-ellipsis-vertical {
  position: absolute;
  color: black;
  top: 63px;
  left: 86%;
  z-index: 2;
  font-size: 25px;
  cursor: pointer;
}

.fa-ellipsis-vertical:hover {
  color: gold;

}
.fa-cart-shopping:before, .fa-shopping-cart:before {
  content: "\f07a";
  color: #219C90;
}

@media(max-width:767px){
  .head .topnar {
    display: none;
}
nav {
  display: none;
}

.fa-bars {
  opacity: 1;
}
header nav ul {
  flex-direction: column;
}
header nav ul li {
  padding-top: 7px;
}
header {
  overflow: visible;
}

}

@media(max-width:566px){
.fa-bars {
  right: 7%;
  top: 6%;

}

}
  /*end header*/


/*section 1*/
.mainbanner {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 100px;
  
}

    .banner1{
      animation: myimg 3S ;
      -webkit-animation: myimg 3S ;
}
.banner3{
  animation: myimg3 3S ;
  -webkit-animation: myimg3 3S ;
}
    .banner2 {
      width:500px;
      padding: 38px;
      text-align: center;
  }

  

    .mainbanner img {
      max-width: 100%; 
      height: auto;  
      width:100%;  
      display:block;
    }

  
    .banner2 h1{
      color: var(--main-color);
      animation: mymove 3S  linear;
}
    .banner2 p{
      color: #6B6B6B;
    }

@media (min-width: 769px) {
.banner2 h1{
font-size: 35px;
font-weight: 700;
}
.banner2 p{

text-align: center;
font-size: 28px;
font-weight: 500;
padding:40px 0;
}}
.button1::before{
  content: url(images/فيجما/button.png);
  position: relative;
  top: -82px;
}

.button1 {
  height: 100px;
  animation: mydowen  3S  linear;
}
.button1 a {
  text-decoration: none;
  position: absolute;
  left: 41%;
  top: 448px;
  color: #5C4500;
  font-size: 20px;
}

.button1 img {
  top: -56px;
  position: relative;
  transform: translate(10px, -56px);
}

  
  @media (max-width: 768px) {
    .mainbanner {

    align-items:flex-end;
    }
    .button1 a {
      left: 65%;
}
  
.button1 {
  display: none;
}
.banner2 {
  padding: 0;
  width: 1000px;
  position: absolute;
  top: 121px;
  left: 0; 
  right: 0;
  bottom: 0;
  width: 100%;
}
.banner3 {
  margin-top: 145px;
}

  }


  /*animation*/
@keyframes myimg {
  0% {
    opacity: 0;
    transform: translate(-150px, 0);
  }
}
@keyframes myimg3 {
  0% {
    opacity: 0;
    transform: translate(150px, 0);
  ;
}
}

@keyframes mymove {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }
}
@keyframes mydowen {
  0% {
    opacity: 0;
    transform: translate(0, 100px);

}
}
/* end section 1 */

/*section 2*/
.sec2 .container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

 .sec2 div h4{
  color: var(--main-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
margin-top: 20px;
}

.sec2 div p{
color: var(--main-color);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.box {
  margin-top: 20px;
}
.imagesvg:hover .mysvg path {
  stroke: var(--scend--color); 
}
 .imagesvg {
  box-shadow: 2px 6px 10px #e2d5d5;
  background-color: var(--scend--color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 22%;

}
.sec2 .one:hover{
  background-color:#ee9322;

}
.sec2 .two:hover{
  background-color:#E9B824;

}
.sec2 .three:hover{
  background-color:#D83F31;
}
.sec2 .four:hover{
  background-color:#219C90;

}


@media(max-width:664px){
.sec2 .container {
    flex-direction: column-reverse;
}
.box {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
}
.sec2 .imagesvg{
  left:12%
}

}
/* end section 2 */

/*section 3*/

.sec3{
  width: 100%;
  max-width: 100%;
  margin: 50px 0;
}
.sec3 .container{
  position: relative;
display: flex;

}
.background2sec3 {
  width: 52%;
  background-image: url(images/فيجما/Frame\ 72.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
}
.background1sec3 {
  width: 50%;
  background-image: url(images/فيجما/Group\ 74.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
}
.boximg{
  width: 100%;
}

 h3.titlebox1{
  color: var(--three-color);

}
.box1 {
  position: relative;
  bottom: -50%;
  right: -50%;
}

.box1 p {
  bottom: -53px;
  left: 20%;
  position: absolute;
}
.box2 {
  position: relative;
}
h3.titlebox2 {
  color: var(--scend--color);
  margin:24% 13%;

}

img.imgbox2 {
  position: absolute;
  top: -10%;
  left: -1%;
  transform: translate(-5%, -11%);
}
.box2 p {
  margin: -20% 23%;
}

.background1sec3 div img,
.background2sec3 div img{
  max-width: 100%;
    height: auto;
}
  

@media(max-width:767px){
  .sec3 .container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.background2sec3,
.background1sec3 {
  width: 100% !important;
  height:30vh;
}
img.imgbox2 {
  left: -12%;
}


}
/* end section 3*/
/* section 4 product */
.products {
  padding: 50px 0;
}
.titlee {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
.titlee h4 {
  text-align: right;
}
 .titlee h4 span {
  font-weight: 500;
}
 .titlee img {
  float: left;
}
 .titlee a.all {
  font-size: 14px;
  position: relative;
  left: -50%;
}
i.fa-solid.fa-chevron-left {
  margin-right: 10px;
}

a.alll{
  font-size: 14px;
  position: relative;
  left: -50%;
}
 .container .allcard{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  gap: 3%;
 }
.card-product {
  width: 100%;
}
/*
.card-product:hover {
    box-shadow: 0 12px 32px hsl(0deg 0% 20% / 10%);
    border-radius:6px;;
}*/

@media(min-width:767px){
.card-product:hover .buttoncart {
  display: block !important;
  top: -190px;
  left: -39px;
  transform: translate(87px, 10px);
}}


.card-product img{
  width: 100%;
  max-width: 100%;
  height: auto;
}
.content-product {
  text-align: end;
  padding:4px;
}
section.products .container .content-product span.titlepro{
  color: #219C90;
font-size: 12px;
}
section.products .container .content-product h4{
  color: var(--main-color);
  font-size: 14px;
  font-weight: 600;
}
section.products .container .content-product .price {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}
section.products .container .content-product .price h5{
  color: #D83F31;
  text-align: right;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; 
  margin-left: 12px;
}
section.products .container .content-product .price h6{
  color: #A5A5A5;
  font-family: Inter;
  text-decoration: line-through;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  text-decoration-line: strikethrough;
}

section.products .container .content-product .buttoncart {
  padding: 7px 3px;
  border: none;
  width: 65%;
  border-radius: 10px;
  position: relative;
  display: none;
  
}


@media(max-width:767px){
  section.products .container .allcard{
    grid-template-columns: repeat(2,minmax(0,1fr));
  
  }

  section.products .container .content-product .buttoncart {
    display: block;
    width: 100%;
    font-size: 13px;
}
.products .titlee a.all {
  left: 10px;
  bottom: -34px;
}
a.alll{
  left: 10px;
  bottom: -34px;;
}

}

/* end section 4 product*/
/*sec6*/
.sec6{
  padding: 50px 0;
}
.sec6 .all{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.sec6 .content {
  float: inline-end;
  margin-top: 15px;
}

@media (max-width: 664px){
  .sec6 .box {
    flex-direction: column;
    align-items: flex-end;
}
}
/* end section 6*/
/*sec8*/

.sec8 .container{
  padding: 50px 0;
  background-image: url(images/فيجما/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

}
.scrol{
  display: flex;
  justify-content: center;
}
section.sec8 img {
  height: 284px;
}
.image-1{
  
} 
/*
.image-5{
  animation-name: anim1;
  animation-duration: 5s;
  animation-iteration-count:infinite;
}*/


@keyframes anim1 {
  0%{
  transform: translateX(-30);

}
  20%{
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
}
50%{
  transform: translateX(-400px);
}
80%{
  transform: translateX(-800px);

}
  100%{
    transform: translateX(-950px);

}
  
}


/* @keyframes scroll-x {
  2% {
    transform: translate(0, 0);
}

50% {
  transform: scaleX(1.1);
}
100% {
  transform: translate(-100px,0);
}

} */

@media (max-width: 664px){
img.image-5,
img.image-1 {
  display: none;
}}